@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Rubik&display=swap");

:root {
    --primary-color: #ffffff;
    --secondary-color: #222222;
    --dark-color: black;
    --info-color: #0f0f0f;
    --white-color: #e6e6e6;
    --succes-color: #25221d;
    --warning-color: #fffaf4;
    --danger-color: #532e1c;
    --gray-color: #ccc;
    --image-color: linear-gradient(135deg, #000000ab 0, #00000099 100%);

    --font-stack: "Rubik", sans-serif;
    --font-family: "Padauk", sans-serif;
}
